.green{
  color:green;
  border-color: green;
  border: 1px solid;
}

.red{
  color: red;
  border-color: red;
  border: 1px solid;
}

.borderRed{
  border-color: red;
}

.borderGreen{
  border-color: green;
}
