<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
  <head>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="utf-8">
    <title>Directives with Isolate Scope and '&'</title>
  </head>
  <body>
    <h1>Directives with Isolate Scope and '&'</h1>
    <!-- List #1 - unlimited items -->
    <di ng-controller='ShoppingListController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <shopping-list
        items="list.items"
        title={{list.title}}
        on-remove="list.removeItem(index)"></shopping-list>
    </div>
  </body>
</html>
