<!doctype html>
<html lang="en" ng-app="foodModule">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/food.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="foodController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-class="{'borderRed':borderRed,'borderGreen':borderGreen}" ng-model="userInput">
        </div>
        <div class="form-group" ng-show="showIfEmptyItem">
            We do NOT consider empty item.
        </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message text-center" ng-class="classMessage">
           <!-- Your message can go here. -->
           {{resultMessage}}
         </div>
   </div>

</body>
</html>
