<!DOCTYPE html>
<html ng-app='ShoppingListPromiseApp'>
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta charset="utf-8">
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Shopping List with a promise</h1>
    <div ng-controller="ShoppingListController as list">
      <h3>Shopping List</h3>
      <input type="text" placeholder="item name" ng-model="list.itemName">
      <input type="text" placeholder="quantity" ng-model="list.itemQuantity">
      boxes
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{item.quantity}} boxes of {{item.name}}
          <button ng-click="list.removeItem($index);">Remove Item</button>
        </li>
      </ol>
    </div>
  </body>
</html>
